<?xml version="1.0"?>
<config>
	<modules>
		<Eezy_Dictionary>
			<version>0.1.0</version>
		</Eezy_Dictionary>
	</modules>
	<global>
		<models>
			<dictionary>
				<class>Eezy_Dictionary_Model</class>
				<resourceModel>dictionary_mysql4</resourceModel>
			</dictionary>
			<dictionary_mysql4>
				<class>Eezy_Dictionary_Model_Mysql4</class>
				<entities>
                    <word>
                        <table>eezy_dictionary_word</table>
                    </word>
                </entities>
			</dictionary_mysql4>
		</models>
		<blocks>
			<dictionary>
				<class>Eezy_Dictionary_Block</class>
			</dictionary>
			<dictionary_adminhtml>
				<class>Eezy_Dictionary_Block_Adminhtml</class>
			</dictionary_adminhtml>
		</blocks>
		<helpers>
			<dictionary>
				<class>Eezy_Dictionary_Helper</class>
			</dictionary>
		</helpers>
		 <resources>
            <dictionary_setup>
                <setup>
                    <module>Eezy_Dictionary</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </dictionary_setup>
            <dictionary_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </dictionary_write>
            <dictionary_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </dictionary_read>
        </resources>
	</global>
	<frontend>
		<layout>
			<updates>
				<dictionary>
					<file>eezy_dictionary.xml</file>
				</dictionary>
			</updates>
		</layout>
	</frontend>
	<admin>
		<routers>
			<dictionary>
				<use>admin</use>
				<args>
					<module>Eezy_Dictionary</module>
					<frontName>dictionary</frontName>
				</args>
			</dictionary>
		</routers>
	</admin>
	<adminhtml>
		<layout>
			<updates>
				<dictionary>
					<file>eezy_dictionary.xml</file>
				</dictionary>
			</updates>
		</layout>
	</adminhtml>
</config>