<?xml version="1.0"?>
<config>
	<modules>
		<Eezy_QA>
			<version>0.1.0</version>
		</Eezy_QA>
	</modules>
	<global>
		<models>
			<qa>
				<class>Eezy_QA_Model</class>
				<resourceModel>qa_resource</resourceModel>
			</qa>
			<qa_resource>
				<class>Eezy_QA_Model_Resource</class>
				<entities>
                    <question>
                        <table>eezy_eav_question</table>
                    </question>
                </entities>
			</qa_resource>
		</models>
		<blocks>
			<qa>
				<class>Eezy_QA_Block</class>
			</qa>
			<qa_adminhtml>
				<class>Eezy_QA_Block_Adminhtml</class>
			</qa_adminhtml>
		</blocks>
		<helpers>
			<qa>
				<class>Eezy_QA_Helper</class>
			</qa>
		</helpers>
        <events>
            <controller_front_init_routers>
                <observers>
                    <!--
                    <cms>
                        <class>Eezy_QA_Controller_Router</class>
                        <method>initControllerRouters</method>
                    </cms>
                    -->
                </observers>
            </controller_front_init_routers>
        </events>
		 <resources>
            <qa_setup>
                <setup>
                    <module>Eezy_QA</module>
                    <class>Eezy_QA_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </qa_setup>
            <qa_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </qa_write>
            <qa_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </qa_read>
        </resources>
	</global>
	<frontend>
		<layout>
			<updates>
				<qa>
					<file>qa.xml</file>
				</qa>
			</updates>
		</layout>
	</frontend>
	<admin>
		<routers>
			<qa>
				<use>admin</use>
				<args>
					<module>Eezy_QA</module>
					<frontName>qa</frontName>
				</args>
			</qa>
		</routers>
	</admin>
	<adminhtml>
		<layout>
			<updates>
				<qa>
					<file>eezy_qa.xml</file>
				</qa>
			</updates>
		</layout>
	</adminhtml>
</config>