/* 
    Document   : article
    Created on : Mar 13, 2013, 6:42:15 PM
    Author     : Antipro
    Description:
        Purpose of the stylesheet follows.
*/

.content_general ul{
    list-style: disc;
}
.content_general ul li{
    margin-left: 1em;
    list-style: disc;
    padding-left: 1em;
}

.wrapp_content_news span.description{
	float: right;
	width: 580px;
}
