<?xml version="1.0"?>
<config>
	<modules>
		<Eezy_Download>
			<version>1.1.3</version>
		</Eezy_Download>
	</modules>
	<global>
		<models>
			<download>
				<class>Eezy_Download_Model</class>
				<resourceModel>download_resource</resourceModel>
			</download>
			<download_resource>
				<class>Eezy_Download_Model_Resource</class>
				<entities>
                    <file>
                        <table>eezy_download_file</table>
                    </file>
                </entities>
			</download_resource>
		</models>
		<blocks>
			<download>
				<class>Eezy_Download_Block</class>
			</download>
		</blocks>
		<helpers>
			<download>
				<class>Eezy_Download_Helper</class>
			</download>
		</helpers>
		 <resources>
            <download_setup>
                <setup>
                    <module>Eezy_Download</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </download_setup>
            <download_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </download_write>
            <download_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </download_read>
        </resources>
	</global>
	<frontend>
        <layout>
        	<updates>
        		<download>
        			<file>eezy_download.xml</file>
        		</download>
        	</updates>
        </layout>
	</frontend>
	<admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<note before="Mage_Adminhtml">Eezy_Download_Adminhtml</note>
					</modules>
				</args>
			</adminhtml>
		</routers>
	</admin>
	<adminhtml>
		<layout>
			<updates>
				<download>
					<file>eezy_download.xml</file>
				</download>
			</updates>
		</layout>
	</adminhtml>
</config>