<?xml version="1.0"?>
<config>
	<modules>
		<Eezy_Note>
			<version>0.1.0</version>
		</Eezy_Note>
	</modules>
	<global>
		<models>
			<note>
				<class>Eezy_Note_Model</class>
				<resourceModel>note_mysql4</resourceModel>
			</note>
			<note_mysql4>
				<class>Eezy_Note_Model_Mysql4</class>
				<entities>
                    <tag>
                        <table>eezy_note_tag</table>
                    </tag>
                    <tag_cloud>
                        <table>eezy_note_tag_cloud</table>
                    </tag_cloud>
                    <article>
                        <table>eezy_note_article</table>
                    </article>
                    <article_tag>
                        <table>eezy_note_article_tag</table>
                    </article_tag>
                    <article_hot>
                        <table>eezy_note_article_hot</table>
                    </article_hot>
                </entities>
			</note_mysql4>
		</models>
		<blocks>
			<note>
				<class>Eezy_Note_Block</class>
			</note>
			<note_adminhtml>
				<class>Eezy_Note_Block_Adminhtml</class>
			</note_adminhtml>
		</blocks>
		<helpers>
			<note>
				<class>Eezy_Note_Helper</class>
			</note>
		</helpers>
        <events>
            <controller_front_init_routers>
                <observers>
                    <cms>
                        <class>Eezy_Note_Controller_Router</class>
                        <method>initControllerRouters</method>
                    </cms>
                </observers>
            </controller_front_init_routers>
        </events>
		 <resources>
            <note_setup>
                <setup>
                    <module>Eezy_Note</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </note_setup>
            <note_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </note_write>
            <note_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </note_read>
        </resources>
	</global>
	<frontend>
		<layout>
			<updates>
				<note>
					<file>note.xml</file>
				</note>
			</updates>
		</layout>
	</frontend>
	<admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<note before="Mage_Adminhtml">Eezy_Note_Adminhtml</note>
					</modules>
				</args>
			</adminhtml>
		</routers>
	</admin>
	<adminhtml>
		<layout>
			<updates>
				<note>
					<file>eezy_note.xml</file>
				</note>
			</updates>
		</layout>
	</adminhtml>
</config>