<?xml version="1.0"?>
<config>
	<modules>
		<Eezy_Note>
			<version>0.1.0</version>
		</Eezy_Note>
	</modules>
	<global>
		<models>
			<note>
				<class>Eezy_Note_Model</class>
				<resourceModel>note_mysql4</resourceModel>
			</note>
			<note_mysql4>
				<class>Eezy_Note_Model_Mysql4</class>
				<entities>
                    <tag>
                        <table>eezy_note_tag</table>
                    </tag>
                    <article>
                        <table>eezy_note_article</table>
                    </article>
                    <article_tag>
                        <table>eezy_note_article_tag</table>
                    </article_tag>
                </entities>
			</note_mysql4>
		</models>
		<blocks>
			<note>
				<class>Eezy_Note_Block</class>
			</note>
			<note_adminhtml>
				<class>Eezy_Note_Block_Adminhtml</class>
			</note_adminhtml>
		</blocks>
		<helpers>
			<note>
				<class>Eezy_Note_Helper</class>
			</note>
		</helpers>
		 <resources>
            <note_setup>
                <setup>
                    <module>Eezy_Note</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </note_setup>
            <note_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </note_write>
            <note_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </note_read>
        </resources>
	</global>
	<admin>
		<routers>
			<note>
				<use>admin</use>
				<args>
					<module>Eezy_Note</module>
					<frontName>note</frontName>
				</args>
			</note>
		</routers>
	</admin>
	<adminhtml>
		<layout>
			<updates>
				<note>
					<file>eezy_note.xml</file>
				</note>
			</updates>
		</layout>
	</adminhtml>
</config>