<?xml version="1.0"?>
<config>
	<modules>
		<Eezy_Didyouknow>
			<version>1.1.0</version>
		</Eezy_Didyouknow>
	</modules>
	<global>
		<models>
			<didyouknow>
				<class>Eezy_Didyouknow_Model</class>
				<resourceModel>didyouknow_mysql4</resourceModel>
			</didyouknow>
			<didyouknow_mysql4>
				<class>Eezy_Didyouknow_Model_Mysql4</class>
				<entities>
                    <quote>
                        <table>eezy_didyouknow_quote</table>
                    </quote>
                </entities>
			</didyouknow_mysql4>
		</models>
		<blocks>
			<didyouknow>
				<class>Eezy_Didyouknow_Block</class>
			</didyouknow>
		</blocks>
		<helpers>
			<didyouknow>
				<class>Eezy_Didyouknow_Helper</class>
			</didyouknow>
		</helpers>
		 <resources>
            <didyouknow_setup>
                <setup>
                    <module>Eezy_Didyouknow</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </didyouknow_setup>
            <didyouknow_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </didyouknow_write>
            <didyouknow_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </didyouknow_read>
        </resources>
	</global>
	<frontend>
        <layout>
        	<updates>
        		<didyouknow>
        			<file>eezy_didyouknow.xml</file>
        		</didyouknow>
        	</updates>
        </layout>
	</frontend>
	<admin>
		<routers>
			<didyouknow>
				<use>admin</use>
				<args>
					<module>Eezy_Didyouknow</module>
					<frontName>didyouknow</frontName>
				</args>
			</didyouknow>
		</routers>
	</admin>
	<adminhtml>
		<layout>
			<updates>
				<didyouknow>
					<file>eezy_didyouknow.xml</file>
				</didyouknow>
			</updates>
		</layout>
	</adminhtml>
</config>